<section ng-controller="PageController">
  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container">
      <h2 class="title-divider">
        <span>Company <span class="de-em">Blog</span></span>
        <small>
          <a href="blog.htm"><i class="fa fa-arrow-left"></i> Back to Blog</a>
        </small>
      </h2>
      <div class="row">
        <!--Main Content-->
        <div class="col-md-9 blog-post">
          <!-- Blog post -->
          <div class="media row">
            <div class="col-md-1 date-md">
              <!-- Date desktop -->
              <div class="date-wrapper"> <span class="date-m">Jan</span> <span class="date-d">07</span></div>
              <!-- Meta details desktop -->
              <p class="text-muted"> <i class="fa fa-user"></i> <a href="#">Erin</a></p>
            </div>
            <div class="col-md-11 media-body">
              <div class="tags"><a href="#" class="tag">coding</a> / <a href="#" class="type">feature</a></div>
              <h3 class="title media-heading">
                Porta risus porttitor facilisis sit dapibus
              </h3>
              <!-- Meta details mobile -->
              <ul class="list-inline meta text-muted">
                <li><i class="fa fa-calendar"></i> Mon 7th Jan 2013</li>
                <li><i class="fa fa-user"></i> <a href="#">Erin</a></li>
              </ul>
              <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" class="media-object img-responsive" />
              <p class="lead">Montes cursus, turpis scelerisque adipiscing vel in. Ultrices platea ridiculus nascetur vut aliquet odio vel placerat! A, ultricies augue turpis scelerisque, porta diam ac!</p>
              <p>Montes cursus, turpis scelerisque adipiscing vel in. Ultrices platea ridiculus nascetur vut aliquet odio vel placerat! A, ultricies augue turpis scelerisque, porta diam ac! Pulvinar pulvinar enim odio enim dictumst, amet lorem aliquet ut rhoncus! Nisi. Ut aliquet non tincidunt, sit proin. Vel egestas, urna non tincidunt tincidunt, ultricies et vut placerat dis ac porttitor, in, facilisis. Etiam?</p>
              <p>Egestas scelerisque, vel auctor rhoncus. Urna penatibus, velit dis, non parturient scelerisque ac tempor a enim? Aenean? Urna dictumst, enim nec odio, turpis. Magnis tempor mus, egestas integer sit eu eu lectus vel. Hac lorem aliquet nec mattis, purus parturient in pulvinar nascetur aliquam! Sed cursus? Pid, nec eros quis, tincidunt odio pellentesque integer, porta, nunc? Duis aenean! In tortor risus enim.</p>
              <p>Sed elit ac? Vel parturient magna placerat non etiam.</p>
            </div>
          </div>
          <!--Comments-->
          <div class="comments" id="comments">
            <h3>
              Comments (10)
            </h3>
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/adele.jpg" alt="Picture of Erin" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Tue 15th Apr 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Erin</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Turpis odio dictumst tempor ac et!
                  </h5>
                  <p>Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!Turpis odio dictumst tempor ac et!</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/bono.jpg" alt="Picture of Alex" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Mon 14th Apr 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Dave</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Porta risus porttitor facilisis sit dapibus
                  </h5>
                  <p>Porta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibus</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/deniro.jpg" alt="Picture of Alex" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Thu 10th Apr 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Erin</a></li>
                  </ul>
                  <h5 class="media-heading">
                    a nec in sed hac ultrices cursus
                  </h5>
                  <p>a nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursus</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/adele.jpg" alt="Picture of Erin" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Tue 8th Apr 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Jo</a></li>
                  </ul>
                  <h5 class="media-heading">
                    a nec in sed hac ultrices cursus
                  </h5>
                  <p>a nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursusa nec in sed hac ultrices cursus</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/bono.jpg" alt="Picture of Alex" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Thu 3rd Apr 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Joe</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Urna natoque in phasellus rhoncus aliquet penatibus
                  </h5>
                  <p>Urna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibusUrna natoque in phasellus rhoncus aliquet penatibus</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/bono.jpg" alt="Picture of Joe" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Sun 30th Mar 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Dave</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Porta risus porttitor facilisis sit dapibus
                  </h5>
                  <p>Porta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibusPorta risus porttitor facilisis sit dapibus</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/jobs.jpg" alt="Picture of Dave" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Sat 29th Mar 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Dave</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Enim augue elit adipiscing placerat natoque
                  </h5>
                  <p>Enim augue elit adipiscing placerat natoqueEnim augue elit adipiscing placerat natoqueEnim augue elit adipiscing placerat natoqueEnim augue elit adipiscing placerat natoque</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/bono.jpg" alt="Picture of Dave" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Fri 28th Mar 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Dave</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Magna aliquet diam mauris tortor turpis vel porta
                  </h5>
                  <p>Magna aliquet diam mauris tortor turpis vel portaMagna aliquet diam mauris tortor turpis vel portaMagna aliquet diam mauris tortor turpis vel portaMagna aliquet diam mauris tortor turpis vel porta</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/obama.jpg" alt="Picture of Dave" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Tue 25th Mar 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Joe</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.
                  </h5>
                  <p>Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.Nisi rhoncus nisi porttitor risus ridiculus tristique, quis.</p>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <img src="img/team/jobs.jpg" alt="Picture of Dave" class="media-object img-thumbnail img-responsive" />
                </a>
                <div class="media-body">
                  <ul class="list-inline meta text-muted">
                    <li><i class="fa fa-calendar"></i> Mon 17th Mar 2014</li>
                    <li><i class="fa fa-user"></i> <a href="#">Alex</a></li>
                  </ul>
                  <h5 class="media-heading">
                    Odio, nunc platea mattis, mid et
                  </h5>
                  <p>Odio, nunc platea mattis, mid etOdio, nunc platea mattis, mid etOdio, nunc platea mattis, mid etOdio, nunc platea mattis, mid et</p>
                </div>
              </li>
            </ul>
            <form id="comment-form" class="comment-form" role="form">
              <h4>
                Add Comment
              </h4>
              <div class="form-group">
                <label class="sr-only" for="comment-name">Name</label>
                <input type="text" class="form-control" id="comment-name" placeholder="Name">
              </div>
              <div class="form-group">
                <label class="sr-only" for="comment-name">Email</label>
                <input type="email" class="form-control" id="comment-email" placeholder="Email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="comment-comment">Comment</label>
                <textarea rows="8" class="form-control" id="comment-comment" placeholder="Comment"></textarea>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Subscribe to updates
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!--Sidebar-->
        <div class="col-md-3 sidebar sidebar-right">
          <div class="inner">
            <div class="block">
              <form role="form">
                <div class="input-group">
                  <label class="sr-only" for="search-field">Search</label>
                  <input type="search" class="form-control" id="search-field" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="block">
              <h4 class="title-divider">
                <span>Tags</span>
              </h4>
              <div class="tag-cloud">
                <span><a href="#">culture</a> (7)</span>
                <span><a href="#">general</a> (61)</span>
                <span><a href="#">coding</a> (12)</span>
                <span><a href="#">design</a> (35)</span>
                <span><a href="#">weather</a> (86)</span>
                <span><a href="#">jobs</a> (77)</span>
                <span><a href="#">health</a> (9)</span>
              </div>
            </div>
            <div class="block">
              <h4 class="title-divider">
                <span>Archive</span>
              </h4>
              <ul class="big-list tags">
                <li><a href="#">April 2014</a> (71)</li>
                <li><a href="#">March 2014</a> (43)</li>
                <li><a href="#">February 2014</a> (93)</li>
                <li><a href="#">January 2014</a> (25)</li>
                <li><a href="#">December 2013</a> (34)</li>
                <li><a href="#">November 2013</a> (89)</li>
                <li><a href="#">October 2013</a> (70)</li>
              </ul>
            </div>
            <div class="block">
              <a href="#" class="btn btn-warning"><i class="fa fa-rss"></i> Subscribe via RSS feed</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>