<section ng-controller="PageController">  
  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container" id="about">
      <h2 class="title-divider">
        <span>Timelines</span> 
        <small>5 New Timeline Options</small>
      </h2>
      <!-- Timeline 1: timeline-stacked -->
      <h3>
        Timeline 4: .timeline-stacked
      </h3>
      <div class="timeline timeline-stacked">
        <div class="timeline-breaker">2014</div>
        <!--Timeline item 0-->
        <div class="timeline-item animated fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/frog.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Tue 15th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Aliquip Damnum Facilisi Immitto Vindico</a>
              </h4>
              <p class="timeline-item-description">Molior nostrud suscipere tamen utrum. Camur eu facilisis jus neque paratus saepius torqueo valde. Exputo feugiat huic modo nimis proprius. Abico aliquip antehabeo luptatum nostrud odio pagus vulpes. Elit genitus qui sagaciter tation ut wisi. Abico appellatio diam dignissim jumentum macto molior probo.</p>
              <p class="timeline-item-description">At minim molior nibh os refoveo tego vicis. Camur capto consectetuer enim ibidem luptatum molior nutus paratus utrum. Enim gilvus vel voco. Abbas acsi bene diam gemino in praesent sagaciter. At eu ideo ille incassum. Abico ad gravis lucidus paratus typicus.</p>
            </div>
          </div>
        </div>
        <!--Timeline item 1-->
        <div class="timeline-item animated right fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/ladybird.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Sun 13th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Commoveo Haero Natu Praemitto Tation</a>
              </h4>
              <p class="timeline-item-description">Adipiscing defui humo incassum meus natu plaga. Ad antehabeo defui haero hendrerit ulciscor. Damnum decet eu ideo jumentum nunc te. Fere importunus utrum vindico. Facilisi hendrerit huic iustum nulla praemitto ratis refero saepius. Decet eu illum inhibeo odio paulatim. Gilvus haero lucidus ludus quia vulpes.</p>
              <p class="timeline-item-description">Accumsan elit inhibeo iriure. Aptent erat lobortis nunc sed. Brevitas erat fere iaceo loquor nutus quia sagaciter sino zelus. Abico fere illum immitto jumentum lenis obruo probo quidem tamen. Ad at augue esca facilisis molior. Bene eros exerci. Abluo bene euismod hendrerit odio uxor.</p>
            </div>
          </div>
        </div>
        <!--Timeline item 2-->
        <div class="timeline-item animated fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/ape.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Tue 15th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Camur Dolus Nibh Persto Similis</a>
              </h4>
              <p class="timeline-item-description">Eligo ex ullamcorper. Imputo quidem suscipit utinam. Abluo haero laoreet meus refero sagaciter voco. Acsi autem dolus fere iaceo illum patria quibus suscipit. Cui ille neque nibh pecus praesent te utrum. Abbas illum incassum odio velit verto voco. Distineo duis genitus gravis iusto plaga.</p>
              <p class="timeline-item-description">Eu ludus nibh nostrud pala paratus ratis. Brevitas elit et genitus molior utrum uxor. Abigo commoveo paulatim. Brevitas camur eligo eu ideo in jus rusticus ymo. Abluo consequat eum venio. Adipiscing ex macto si. Esse facilisi meus. Defui dolor eros fere interdico nulla.</p>
            </div>
          </div>
        </div>
        <!--Timeline item 3-->
        <div class="timeline-item animated highlight right fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/fly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Mon 14th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">At Autem Euismod Facilisis Ymo</a>
              </h4>
              <p class="timeline-item-description">Camur consectetuer dolus sit. Acsi consequat iaceo lenis lucidus nisl vero zelus. Causa duis proprius vero vulputate. Damnum incassum singularis. Abigo ille luptatum validus veniam. Immitto meus neo nisl nunc si suscipere. Abigo capto esca esse importunus jumentum. Abico at dolus gemino ibidem refoveo suscipit tamen voco.</p>
              <p class="timeline-item-description">At camur vindico voco vulpes. Autem distineo hos natu praesent. Adipiscing aptent consectetuer damnum dignissim euismod natu saluto suscipere valde. Esca eu iaceo mos quis ulciscor. Antehabeo comis commodo consequat esca iaceo jumentum ludus nostrud sagaciter. Cogo occuro velit. Comis dolore feugiat huic iusto lenis melior.</p>
            </div>
          </div>
        </div>
        <div class="timeline-breaker timeline-breaker-middle">2013</div>
        <!--Timeline item 4-->
        <div class="timeline-item animated fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/water-pump.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Tue 8th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Cogo Commodo Consequat Conventio Rusticus</a>
              </h4>
              <p class="timeline-item-description">Diam hendrerit interdico natu occuro probo. Abluo camur cui ea eligo plaga quia saepius uxor. Capto diam eum luptatum quae qui ymo. Diam humo laoreet oppeto os torqueo usitas ut veniam vicis. Eros ille pecus praesent probo usitas uxor validus vicis wisi.</p>
              <p class="timeline-item-description">Bene consectetuer hendrerit metuo typicus. Brevitas causa erat hendrerit loquor modo. Commodo facilisi gravis quis. Abluo illum praemitto quidne tamen. Aliquip nibh verto. Minim modo proprius. Aptent comis dolus eros interdico laoreet lenis refero veniam vulpes. Antehabeo appellatio pagus paratus patria tamen voco.</p>
            </div>
          </div>
        </div>
        <!--Timeline item 5-->
        <div class="timeline-item animated right fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/butterfly.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Tue 15th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Ex Humo Iusto Jus Quae</a>
              </h4>
              <p class="timeline-item-description">Consequat laoreet nisl premo probo tego vereor. Iusto magna mauris neque nimis os tincidunt usitas venio. Decet ibidem inhibeo nostrud patria ratis si ymo. Nimis quibus saluto volutpat. Dolus ille meus neque valde vereor. Abico at caecus ea feugiat secundum suscipere.</p>
              <p class="timeline-item-description">Dolor sudo tation. Aliquip eu hendrerit nulla quibus ulciscor velit. Caecus cogo ea ibidem loquor volutpat. Erat jumentum neo nostrud. Autem dignissim si suscipere. Caecus causa dolore eros genitus hendrerit odio oppeto tum. Commodo duis meus neque nostrud. Damnum genitus ille jumentum pagus pertineo quis.</p>
            </div>
          </div>
        </div>
        <!--Timeline item 6-->
        <div class="timeline-item animated fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <img src="img/blog/bee.jpg" alt="Picture of frog by Ben Fredericson" class="img-responsive" />
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Sat 12th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Et Iaceo Mauris Sagaciter Usitas</a>
              </h4>
              <p class="timeline-item-description">Abigo antehabeo ibidem odio veniam. Erat iaceo magna quae vindico vulpes. Ludus premo velit volutpat vulputate. Dolore exerci gilvus gravis ideo macto persto. Dolus neque premo quidne ulciscor. Appellatio elit iriure letalis luctus mos tego. Aptent immitto inhibeo pala paratus sed sudo.</p>
              <p class="timeline-item-description">Adipiscing aptent cui ut. Abdo cui ea iustum natu neque paratus sudo tum. Commodo in inhibeo luptatum vel. Autem genitus saluto vero. Dolore ideo interdico iusto lobortis nimis nostrud pertineo wisi. Dignissim duis enim esse facilisis. Camur cui incassum inhibeo ratis sino.</p>
            </div>
          </div>
        </div>
        <!--Timeline item 7-->
        <div class="timeline-item animated right fadeIn de-02">
          <div class="row">
            <div class="col-md-4">
              <object width="560" height="315">
                <param name="movie" value="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowscriptaccess" value="always"></param>
                <embed src="//www.youtube.com/v/YXVoqJEwqoQ?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed>
              </object>
            </div>
            <div class="col-md-8">
              <div class="margin-top-md timeline-item-date">Tue 15th Apr</div>
              <h4 class="timeline-item-title">
                <a href="#">Abdo Defui Ideo Saepius Vero</a>
              </h4>
              <p class="timeline-item-description">Adipiscing mos nibh tamen. Cui haero humo inhibeo lenis quadrum sed tego. Commodo dolus exerci metuo obruo typicus utrum. Aptent causa eligo iusto metuo praesent proprius quia tincidunt uxor. Brevitas caecus importunus nostrud qui similis turpis veniam. Abdo conventio et macto metuo nobis scisco sit.</p>
              <p class="timeline-item-description">Importunus nisl qui vero. Abigo ideo metuo neque. Aliquam loquor saluto. Diam importunus jumentum. Damnum ex imputo lobortis saluto tincidunt valde vicis ymo. Consequat conventio ex interdico lobortis neo nutus os. Blandit capto cogo facilisi imputo occuro quadrum quia quidne.</p>
            </div>
          </div>
        </div>
        <div class="timeline-breaker timeline-breaker-bottom">The End</div>
      </div>
      <!-- Timeline -->
      <h3 class="bordered-top-large">
        Options
      </h3>
      <p>4 Timeline variations (combine with .timeline) classes available:</p>
    <ol>
        <li>
          <strong><a href="#!/projects">Proyectos</a></strong>
          : class="timeline" = default, 2 items per row, floating left & right, timeline runs down the middle. Is stacked on mobile.
        </li>
        <li>
          <strong><a href="#!/products">Productos</a></strong>
          : class="timeline timeline-left" = 1 item per row, floating left, timeline runs down the left with markers aligned left
        </li>
        <li>
          <strong><a href="#!/services">Servicios</a></strong>
          : class="timeline timeline-right" = 1 item per row, floating right, timeline runs down the right with markers aligned right
        </li>
        <li>
          <strong><a href="#!/consultancy">Consultoría</a></strong>
          : class="timeline timeline-stacked" = posts stack on top of each other, 1 item per row, timeline runs down the middle, markers show above posts. Is default mobile layout.
        </li>
      </ol>
        <li><strong>overlap-off</strong> = drops the item overlap</li>
        <li><strong>overlap-pull-large</strong> = class to pull item up 120px</li>
        <li><strong>overlap-pull-small</strong> = class to pull item up 30px</li>
        <li><strong>overlap-push-large</strong> = class to push item down 120px</li>
        <li><strong>overlap-push-medium</strong> = class to push item down 60px</li>
        <li><strong>overlap-push-small</strong> = class to push item down 30px</li>
        <li><strong>right</strong> = pulls item to right</li>
        <li><strong>highlight</strong> = highlights the marker with primary colour</li>
      </ol>
    </div>
  </div>
</section>